[
%{kernel, [
%    {error_logger, {file, "/app/deployment/tools_platform/priv/log/kernel.log"}}
%]},
{sasl, [
    {sasl_error_logger, {file, "/app/deployment/tools_platform/priv/log/sasl.log" }},
    {errlog_type, error}
]},
{computer,[
    {mqtt_broker_host, "localhost"},
    {mqtt_broker_port, 1883},

    {username, "admin"},
    {password, "admin"},
    
    {client_id, "000000000003"},

    {reconnect_wait_time, 10000},
    {keep_alive_timer, 60000}
]}].